.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    margin-bottom: 64px;
}

@media (min-width: 768px) {
    .main{
        gap: 88px;
        margin-bottom: 88px;
    }
}

@media (min-width: 1024px) {
    .main{
        gap: 92px;
        margin-bottom: 92px;
    }
}