.main__places-link{
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
    color: white;
    text-decoration: underline;
    transition: all 0.4s;
}

.main__places-link:hover{
    opacity: 60%;
}