.advert{
    position: relative;
    z-index: 1;
    width: 1184px;
    height: 740px;
}
.advert::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 1184px;
    height: 740px;
    background-image: url(../../../assets/img/baikal-background.jpg);
    background-repeat: no-repeat;
    background-size: 1184px 740px;
    opacity: 80%;
    transition: all 0.6s;
}
.advert:hover::before{
    opacity: 30%;
}