.header__langs-list{
    align-items: flex-end;
}

@media (min-width: 320px) {
    .header__langs-list{
        font-size: 18px;
        line-height: 20px;
    }
}

@media (min-width: 768px) {
    .header__langs-list{
        font-size: 24px;
        line-height: 28px;
    }
}